.skill{
    display: flex;
    flex:1;
    flex-direction: column;
    padding-bottom: 24px;
} 
.skill-type{
    padding-bottom:12px;
    text-align: center;
}

.skill-div{
    background-color:#66ccff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:65%;
    margin:auto;
    color:#000;
} 

.skill-div-info-left{
    width:0;
    height:0;
  border-top:25px solid transparent;
border-left:40px solid #000;
  border-bottom: 25px solid transparent;
}
.skill-div-info-right{
    width:0;
    height:0;
  border-top:25px solid transparent;
border-right:40px solid #000;
  border-bottom: 25px solid transparent;

}
.skill-info{
   font-size:18px;
   font-weight:600;
}
.skill-icons{
    display:flex;
    flex-direction: row;
    padding-top: 12px;
    padding-bottom:24px;
    justify-content: center;
    align-items: center;
       
} 

.skill-icon{
    font-size:60px;
    margin-right: 32px;
}

@media only screen and (max-width:720px){
  .skill-icon{
    font-size:50px;
    margin-right:16px;
}
  .skill-div{
    width:90%;
    margin:auto;
  }
  .skill-div-info-left{
    width:0;
    height:0;
  border-top:20px solid transparent;
border-left:40px solid #000;
  border-bottom: 20px solid transparent;
}
.skill-div-info-right{
    width:0;
    height:0;
  border-top:20px solid transparent;
border-right:40px solid #000;
  border-bottom: 20px solid transparent;

 }
}