.separator{
    height:9px;
    width:40%;
    border-radius:3px;
    margin:16px 0px;
    background-image: linear-gradient(to right, #f93f0b, #fc003f, #f10066, #d7008a, #ad00a8, #c100a3, #d3009e, #e30098, #ff336d, #ff763d, #ffb500, #eeee03);}