.contact{
    display:flex;
    flex-direction: column; 
    padding-bottom:6px;
} 

.contact-page{ 
    width:60%;
    margin:auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.contact-right{
    display: flex;
    justify-content: right;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.contact-container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:16px 0px;
}


.contact-icons{
    display:flex;
    justify-content: center;
    align-items: center;
} 

.social-icon-div{
    padding:6px;
    cursor:pointer;
    margin:6px;
} 

.social-icon{
    height:48px;
}

@media only screen and (max-width: 720px){
    .social-icon{
        height:32px;
    }
}
