.about{
    padding-bottom:0px;
    display:flex;
    justify-content: space-around;
    align-items:center;
} 

.section-title{
    font-size:24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 12px;
}

.about-info{
    font-size:22px;
}
.info-name{
    color:aquamarine;
    font-size:32px;
}

.picture{
    height:480px;
}

@media only screen and (max-width:720px){
    .about{
        flex-direction: column-reverse;
        justify-content: center; 
        align-items: center;
        margin-top:20px;
    }

    .picture{
        height:280px;
    }

    .about-info{
        font-size:20px;
        justify-content: center;
        margin-left:15%;
        margin-top:10px;
    }

    .info-name{
        font-size:26px;
    }
}